{% extends 'base.html' %}
{% block head%}
{% if result != None %}
<meta
    content="EQ {{ iem }} -> {{ target }},  Filter count: {{ results|length}},  Algorithm: {{ algo }},  Date: {{ processed }}"
    property="og:description" />
<meta content="{{ url_for('chart',id=id) }}" property="og:image" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ url_for('chart',id=id) }}" />
{% endif %}
{% endblock %}

{% block body%}

{% if result == None %}
<div class="tout">
    <div id="presentation" class="maindivs">
        <h2>- Instant EQ your earphones ! -</h2>
        <p>EQ is the easiest way to improve sound quality of your audio device, but doing it right isn't easy to do. So
            with this website, you will be able to EQ your audio device to a neutral
            target effortlessly :D
        </p>
        <p class="important">Important, this EQ should be used as a baseline, don't hesitate to custom it to
            your
            liking afterwards !</p>
        <div style="padding-top: 10px;"></div>
        <p style="font-family: Segoe UI Bold;font-size: large;"> (*≧︶≦))(￣▽￣* )ゞ</p>
        <div style="padding-top: 10px;"></div>
        <p>Everything is available on <a class="link" href="https://github.com/Shewiiii/webEQ" target="_blank">my
                github</a> ! Please forgive me for the dirty code, I'm still learning !</p>
        <div style="padding-top: 10px;"></div>
    </div>
</div>
<div style="padding-top: 20px;"></div>
{% endif %}
{% if result != None %}
<div class="maindivs chart">
    <canvas id="myChart"></canvas>
</div>
{% endif %}
{% if result != None %}
<div style="padding-top: 20px;"></div>
<div id="results" class="maindivs">
    <h3 class="r">- Results -</h3>
    <p class="r">EQ {{ iem }} -> {{ target }}</p>
    <p name="infos" class="r">Request ID: {{ id }} | Algorithm: {{ algo }} | Filter count: {{ results|length }}</p>
    <div class="flexThing">
        <div class="paraEQ">
            <table class="r paratable">
                <tr>
                    <th>Filter</th>
                    <th>Frequency</th>
                    <th>Gain</th>
                    <th>Q Value</th>
                </tr>
                {% for para in results %}
                <tr>
                    <th>{{ para['type'] }}</th>
                    <th>{{ para['freq'] }}</th>
                    <th>{{ para['gain'] }}</th>
                    <th>{{ para['q'] }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="buttons">
            <a href="{{url_for('wavelet', id=id)}}" download='test' class=" dl">Export to Wavelet/EQapo</a>
            <a href="{{url_for('poweramp', id=id)}}" download='test' class="dl">Export to Poweramp</a>
            <a href="{{url_for('parametric', id=id)}}" download='test' class="dl" onclick="listener()">Download
                Parametric
                EQ</a>
            <p id="listener" class="r rcomment" style="display: none;">You probably want to check <a class="link black"
                    href="https://listener800.github.io/5128" target="_blank">Listener's graph database</a> and the <a
                    class="link black" href="https://github.com/Shewiiii/webEQ/tree/main/frequency_responses"
                    target="_blank">FR folder</a>
                if you want to make more adjustments ! (you should)</p>
            <a onclick="iircopy()" class="dl" id="iir" data-iir="{{ iir }}">Copy IIR string</a>
        </div>
    </div>
    <div style="padding-top: 40px;"></div>
</div>
{% endif %}
</div>
<div style="padding-top: 50px;"></div>
<div class="maindivs EQdiv">
    <h3>- Try it ! -</h3>
    <form id="EQform" method="POST" action="{{ url_for('processAQ',id=id) }}">
        <input class="searchDevice" name="iem" list="iem" type="text" name="search" placeholder="Choose your device"
            value="{{ seliem }}">
        <datalist id="iem">
            {% for iem in FRList %}
            <option> {{ iem }} </option>
            {% endfor %}
        </datalist>
        <h4>EQ to..</h4>

        <select name="target" class="mainSelect">
            <option selected disabled hidden> Choose a target </option>
            {% for target in targetList %}
            <option> {{ target }} </option>
            {% endfor %}
        </select>

        <input class="searchDevice" name="secretIem" list="iem" type="text" name="search"
            placeholder="Choose your device" style="display: none;">

        <div style="padding-top: 30px;"></div>
        <h4>- Settings -</h4>
        <div class="flexThing EQoptions">
            <div class="EQoption">
                <p>Max number of filters:</p>
                <select name="filterCount" class="optionSelect">
                    <option value="5"> 5 </option>
                    <option selected="selected" value="10"> 10 </option>
                    <option value="15"> 15 </option>
                    <option value="20"> 20 </option>
                </select>
                <p class="idkSelect">Default: 10</p>
            </div>

            <div class="EQoption">
                <p>AutoEQ algorithm</p>
                <select name="algorithm" class="optionSelect">
                    <option selected="selected" value="default"> Default </option>
                    <option value="lochbaum"> Lochbaum </option>
                </select>
                <p class="idkSelect">Default: Default</p>
            </div>

            <div class="EQoption">
                <p>EQ the resonant peaks:</p>
                <select name="EQres" class="optionSelect">
                    <option value="yes"> Yes </option>
                    <option selected="selected" value="no"> No </option>
                </select>
                <p class="idkSelect">Recommended: No</p>
            </div>

            <div class="EQoption">
                <p>Mode:</p>
                <select name="mode" class="optionSelect">
                    <option selected="selected" value="standard"> Standard </option>
                    <option value="moondrop"> Moondrop Free DSP </option>
                </select>
                <p class="idkSelect">Default: Standard</p>
            </div>
        </div>
        <p id="eqWarningAQ" class="warning" style="display: none;">Note: Will less EQ above 10kHz to avoid inaccuracies
            (that's a feature). </p>
        <p id="eqWarningLO" class="warning">Note: Will EQ the resonant peaks if there are. Make sure to adjust the
            treble by ear ! </p>
        <button id="goButton" type="submit" class="generateButton">Go !</button>
    </form>
    <div id="gekiYabaSecretFeature">
        <p style="text-align: left;" onclick="gekiyaba()">|∀・)</p>
    </div>
    <div class='maindivs hint' style="text-align: left;">
        <h4 style="margin: 0;">Hint:</h4>
        <h5>- Headphones -</h5>
        <p><strong>SoundGuys Target</strong>: Nice balance between neutral and fun (recommended)</p>
        <p><strong>5128 DF</strong>: Neutral for Headphones</p>
        <h5>- IEMs or TWS -</h5>
        <p><strong>SoundGuys Target</strong>: Nice balance between neutral and fun (recommended)</p>
        <p><strong>Shewi Target OG</strong>: U-Shaped Target focused on technicalities and immersiveness. My go-to sound
            profile. I've tried to mix the midrange of the U6t with the bass and the treble of the Storm. Note that you
            will have to adjust the EQ manually for better results.
        </p>
        <p><strong>Shewi Target</strong>: More or less the same but with a more elevated lower-treble. Might work for
            more people but it sounds a bit too shouty for me</p>
        <p><strong>JM-1</strong>: Neutral for IEMs</p>
        <p><strong>Harman Beta (2024)</strong>: If you want a sound similar to AutoEQ but more precise</p>
        <h5>- Settings -</h5>
        <p><strong>Tilt</strong>: The more the tilt is important, the more it will sound 'dark'. If you prefer a
            brighter sound, choose
            -0.8dB/oct.</p>
        <p><strong>Number of filters</strong>: as the name suggests.</p>
        <p><strong>3kHz dip</strong>: Reduce the volume of the ear-gain if it sounds too shouty.</p>
        <p><strong>EQ the resonant peaks</strong>: Sometimes on the graph you can see a dip around 9kHz and a peak at
            around 7kHz. That is due to
            the IEM or TWS interacting more at a certain frequency with the measurement rig. Thus, EQing this region can
            lead to an inaccurate equalization (if that dip is caused by resonance). Disabling this option can help
            preventing that.</p>
        <p><strong>Algorithm</strong>: algorithm to use to generate the EQ.</p>
        <ul>
            <li>Lochbaum: Aggressive EQ. Match the target better on the full frequency range. Could potentially heavely
                EQ peaks or dips you don't actually hear, so use it with care.</li>
            <li>Default (from AutoEQ's library): Safer EQ. Fast and more customizability, and don't EQ too much above
                10kHz. Will
                not EQ the resonant peaks by default.</li>
            <p><strong>Tip !</strong>: try to EQ with different algorithm and number of filters if the EQ you get
                doesn't satisfy you.</p>
        </ul>
        <p><strong>Mode</strong>: Adapt the generated EQ to a particular device. Can overwrite other options.</p>
    </div>
    <div style="padding-top: 50px;"></div>
    <div>
        <img class='targetsimg' src="../static/img/Targets.png">
    </div>

    <div style="padding-top: 50px;"></div>

    <h3>- Random infos -</h3>
    <div style="text-align: left;">
        <h4>Sources :</h4>
        <p><a class="link" href="https://listener800.github.io/5128" target="_blank">Listener</a>,
            <a class="link" href="https://forum.headphones.com/u/resolve/summary" target="_blank">Resolve</a> (on the
            Headphones.com forum or Youtube),
            <a class="link" href="https://crinacle.com/graphs/iems/graphtool/" target="_blank">Crinacle</a>,
            <a class="link" href="https://www.soundguys.com/" target="_blank">Soundguys</a>.
            I've also used <a class="link"
                href="https://www.reddit.com/r/headphones/comments/1780005/bk_5128_graph_database/" target="_blank">this
                amazing reddit post</a> to help me scrap the frequency responses.
        </p>
        <h4>How these EQ profiles are generated</h4>
        <p>All the EQ profiles on this website are generated using the AutoEQ Python library by Jaakko Pasanen, and the
            AutoEQ feature available
            on many graph tools like <a class="link" href="https://squig.link/" target="_blank">Squiglink</a>, <a
                class="link" href="https://listener800.github.io/5128" target="_blank">Listener's graph database</a> or
            <a class="link" href="https://crinacle.com/graphs/iems/graphtool/" target="_blank">Crinacle's IEF graph
                tool</a> by Marshall Lochbaum.
        </p>
        <p> They are all based on <strong>measurements took on the B&K 5128</strong> or the 4620 (without the head and
            torso), the most
            accurate measurement rig available today.
        </p>
        <h4>Yes <a class="link" href="https://autoeq.app/" target="_blank">AutoEQ</a> exists, and it's great</h4>
        <p>This project exists thanks to AutoEQ since I'm using it's Python module ! The website has MUCH more features
            and models than my website so it's worth checking.
        <p>
            But please note that <strong>if your device is not available with B&K 5128 or 4620 measurements, the EQ will
                probably
                be inaccurate, especially for in-ear devices</strong>, because of the inaccurate acoustic input
            impedance
            other
            measurement rigs have.
        </p>
        <h4>PLEASE don't pay for SoundID/Sonarworks for headphones, it's just eye candy.</h4>
        <p>I have some problems with that software when it comes to headphones. First,
            it's paid. Second, you don't know
            anything about their methodology of EQing. You don't know the rig they are using, you don't (explicitly)
            know the target they are using,
            NOTHING. What they are calling flat sound is based on what? on private research, and I refuse to pay for
            something you know anything about and that you can get for free.
        <p>I really think what I'm saying, it's not just to tell you "oh wow my website is amazing". EQing
            using B&K
            measurements combined with a target you choose and you
            <strong>know something about</strong> is in my opinion the obvious choice and will lead to much, much better
            results than SoundID. And guess what? <strong>All the frequency responses measured and the EQ profiles
                created by autoEQ and
                suggested here don't cost you a cent</strong>. You just have to use them with whatever software present
            on
            the Results tab (Wavelet and Equalizer APO are free softwares).
        </p>
        <p>
            You want to tweak you target more? No probs ! Download a frequency response file in <a class="link"
                href="https://github.com/Shewiiii/webEQ/tree/main/frequency_responses" target="_blank">my repo</a>,
            import it in <a class="link"
                href="https://listener800.github.io/5128?share=Custom_Tilt&bass=0&tilt=-1&treble=0&ear=0"
                target="_blank">Listener's graph tool</a> and autoEQ from here !
        </p>
        <p>
            If you REALLY want something similar to
            Sonarworks, just use the Harman OE 2015 target on autoEQ with Equalizer APO or Wavelet.</p>
        <h4>Why I'm doing this</h4>
        <p>Because I'm using it personally and because it's fun to do @w@</p>
        <p>My motivation was to make my own "AutoEQ" website, but more accurate (since every EQ generated are based on
            5128 measurements) and with a look that suits me better !</p>
        <h4>The biggest problem with the audio market: it is full of bullshit, because consumers like this</h4>
        <p>I'm often browsing audio forums or discord servers, and I'm sometimes blown away by what I can read. Let's
            take some examples.</p>
        <h5>Brands often boast about their driver configuration and "amazing" crosstalk.</h5>
        <p>The Truthear Zero:blue is "using a subwoofer for the bass" which is LITERALLY just a DD driver, but you
            know..marketing.
            The Monarch Mk2 is using 2 electrostatic drivers for the treble. The result ? It changes the frequency
            response in a different way from a BA or a DD, full stop. The 64audio u18t is using 18 BAs to achieve their
            final tuning, and guess what ? It performs worse than their u6t or u12t models, objectively and
            subjectively. </p>
        <h5>On the digital side of things.</h5>
        <p>Hi-Res is actually worse than CD quality audio, because more
            distortion is likely to be produced when reconstructing the signal with a hi-res signal, with no benefits
            whatsoever. SINAD doesn't matter and chasing for the highest one is completely nonsense, how a DAC sound is
            so much more complicated than that. And believe me, the list goes on.</p>
        <p>My point is the following: people NEED to understand that marketing is something, but actual sound
            quality is another story. Just because an IEM has X amount of electrostatic drivers doesn't mean it will
            sound more "detailed". Just because an IEM is using a balanced armature for the bass doesn't mean it will
            sound less "punchy". Again, <strong>everything comes down to frequency response</strong>: if an IEM with a
            BA for the bass has a good frequency response on a measurement rig with an human-like acoustic impedance
            like the 5128, there is no reason it should perform worse than a DD.
        <h5>Price. is. just. a. number.</h5>
        <p>I think this is the most important point: <span class="important">price is neither a necessary nor a
                sufficient condition for good audio quality</span>. In other words, a 20 dollars IEM can easily
            outperform a 1000 dollars IEM, and I'm not even exaggerating: the Truthear Hola is better tuned than so many
            kilobuck IEMs, just take a look at Crinacle's database. Another example is the Mega5est, or the DUSK. They
            are not cheap (respectively pricing at 500 and 300 dollars) and obviously it depends on your preferences,
            but both IEMs measure very similarly to the Subtonic Storm, a
            5000 dollars IEM.</p>
        <h5>"Man what are you saying, high end IEMs have much better technicalities duh"</h5>
        <p>First, no, how do you even quantify these "technicalities" in the first place. Don't forget that these
            "technicalities" we are all talking about, are direct consequences of frequency
            response. They are not measurable things, because they are simply psychoacoustic effects. However if we take
            Hola
            again, yes it will maybe sound less detailed than DUSK because of its
            lack of treble extension, but I mean...</p>
        <h5>People don't understand EQ.</h5>
        <p>If you are willing to EQ, you can actually simulate these quote unquote
            "technicalities", on your cheap IEM. Subjectively, Blessing 2 with EQ sounds so much better than the
            Monarch Mk2, which is a 3 times more expensive IEM.</p>
        <h5>So in that case, why do reviewers continue to praise expensive IEMs if you can get the same performance for
            cheap ?</h5>
        <p>I think it is because of all the reasons above. It is also worth noting that everyone has bias: if you have
            an
            expensive product, you are mentally prepared for it to sound good, consciously or unconsciously. It is even
            worse if you bought the product: it would be too hard to admit that you bought a bad one. In the same way,
            when brands are talking about their "amazing" technologies, you expect the IEM
            to sound good, <strong>and thus it will probably sound good</strong>, but it's a bias.</p>
        <p>One last point: I have to admit that perfectly simulating the sound of a "high-end" iem with a cheap iem is
            very complicated, but you can get so close with a bit of EQ that these "high end" IEMs become much
            less interesting.</p>
        <h4>Specs of the EQ</h4>
        <p>I'm trying to EQ up to 20khz, since the 5128 is accurate enough to allow EQing the full audible
            range.<br><strong>However</strong>, you should note that all our ears are different, thus the frequency
            response
            you will actually hear will be significantly different from the one measured on the 5128. That's why you
            HAVE to
            EQ by ear as well if you think something is wrong.</strong></p>
        <p>
            On headphones especially, frequency response changes a lot depending on position. This is something you
            should take into consideration when EQing but also in general when you look at a frequency response graph.
        </p>
    </div>
</div>
<div style="position:absolute;left:-9999px;top:-9999px;width: 1280px;height: 720px;">
    <canvas id="cloneChart" style="display: none;"></canvas>
</div>
<div style="padding-top: 250px;"></div>
<p style="text-align: center;color: var(--secondary3);font-family: Segoe UI Bold;font-weight: bold;">
    かえるぴょこぴょこみぴょこぴょこ
    (/・ω・)/</p>



<script>
    function gekiyaba() {
        document.getElementsByName('secretIem')[0].style.display = 'block';
        document.getElementsByName('target')[0].style.display = 'none';
        document.getElementsByName('target')[0].setAttribute("name", "a");
        document.getElementsByName('secretIem')[0].setAttribute("name", "target");
        document.getElementsByName('a')[0].setAttribute("name", "secretIem");
    }
</script>

{% if result == None %}
<script>
    let gekiyabaa = {{ gekiyaba | tojson }};
    console.log(gekiyabaa)
    if (gekiyabaa == 'True') {
        gekiyaba()
    }
</script>
{% endif %}

<script>
    function listener() {
        document.getElementById('listener').style.display = 'block'
    }

    var algoSelect = document.getElementsByName('algorithm')[0]
    let algorithm = algoSelect.value

    let modeSelect = document.getElementsByName('mode')[0]
    let eqresSelect = document.getElementsByName('EQres')[0]
    let goButton = document.getElementById('goButton')
    let EQform = document.getElementById('EQform')
    let eqWarningAQ = document.getElementById('eqWarningAQ')
    let eqWarningLO = document.getElementById('eqWarningLO')

    function changeToLoch() {
        modeSelect.disabled = true;
        eqresSelect.disabled = true;
        modeSelect.value = 'standard';
        eqresSelect.value = 'yes';
        goButton.type = ''
        EQform.action = '/processLO'
        eqWarningAQ.style.display = 'none'
        eqWarningLO.style.display = 'block'
    }

    if (algorithm == 'lochbaum') {
        changeToLoch()
    } else if (algorithm == 'default') {
        eqWarningAQ.style.display = 'block'
        eqWarningLO.style.display = 'none'
    }


    function algoChange() {
        var selected = this.value
        console.log(selected);
        if (selected == 'lochbaum') {
            changeToLoch()
        }
        else if (selected == 'default') {
            eqresSelect.disabled = false;
            eqresSelect.value = "no"
            modeSelect.disabled = false;
            goButton.type = 'submit';
            eqWarningAQ.style.display = 'block';
            eqWarningLO.style.display = 'none';
            EQform.action = '/processAQ/{{ id }}';
        }
    }

    document.getElementsByName('algorithm')[0].onchange = algoChange;
</script>
{% if result != None %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function iircopy() {
        var copyText = document.getElementById('iir').dataset.iir
        navigator.clipboard.writeText(copyText);
    }


    const myChart = document.getElementById('myChart').getContext("2d");
    const cloneChart = document.getElementById('cloneChart').getContext("2d");

    var iem = {{ iem | tojson }};
    var target = {{ target | tojson }};

    var frequencies = {{ frequencies | tojson }};
    var gains = {{ gains | tojson }};
    var newGains = {{ newGains | tojson }};
    var Tgains = {{ Tgains | tojson }};
    var id = {{ id| tojson }};

    var gradient = myChart.createLinearGradient(0, 0, 0, 600);
    gradient.addColorStop(0, 'rgba(81, 58, 197, 1)');
    gradient.addColorStop(1, 'rgba(0, 0, 0,0)');

    var gradient2 = myChart.createLinearGradient(0, 0, 0, 600);
    gradient2.addColorStop(0, 'rgba(51, 51, 51, 1)');
    gradient2.addColorStop(1, 'rgba(0, 0, 0,0)');

    var gradient = cloneChart.createLinearGradient(0, 0, 0, 600);
    gradient.addColorStop(0, 'rgba(81, 58, 197, 1)');
    gradient.addColorStop(1, 'rgba(0, 0, 0,0)');

    var gradient2 = cloneChart.createLinearGradient(0, 0, 0, 600);
    gradient2.addColorStop(0, 'rgba(51, 51, 51, 1)');
    gradient2.addColorStop(1, 'rgba(0, 0, 0,0)');

    var chart = new Chart(myChart, {
        type: 'line',
        data: {
            labels: frequencies,
            datasets: [
                {
                    data: newGains,
                    label: iem + ' EQ',
                    borderColor: "#684EEB",
                    fill: true,
                    backgroundColor: gradient,
                },
                {
                    data: gains,
                    label: iem + ' Stock',
                    borderColor: "#333333",
                    fill: true,
                    backgroundColor: gradient2,
                },
                {
                    data: Tgains,
                    label: target,
                    borderColor: "#877CC1",
                    fill: false,
                    borderDash: [5, 5],
                }]
        },
        options: {
            maintainAspectRatio: false,
            interaction: {
                mode: 'x',
            },
            elements: {
                point: {
                    radius: 0
                }
            },
            responsive: true,
            title: {
                display: true,
                text: 'Frequency Response Graph'
            },
            scales: {
                x: {
                    type: 'logarithmic',
                    ticks: {
                        color: "#f5f5ff",
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 13,
                        },
                    },
                    grid: {
                        display: true,
                        color: "#312f42",
                    },
                    min: 20,
                    max: 20000,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Frequency (Hz)",
                        font: {
                            family: "Poppins",
                            size: 10,
                        },
                    },
                },
                y: {
                    grid: {
                        display: false,
                    },
                    ticks: {
                        color: "#f5f5ff", //texte ?
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 13,
                        },
                    },
                    min: 50,
                    max: 80,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Gain (dB)",
                        font: {
                            family: "Poppins",
                            size: 10,
                        },
                    },
                },

            },
            plugins: {
                legend: {
                    labels: {
                        color: "#FFFFFF",
                        font: {
                            family: "Poppins",
                            size: 15,
                        }
                    }
                },
                tooltip: {
                    intersect: false
                }
            }
        }
    });

    var chart2 = new Chart(cloneChart, {
        type: 'line',
        data: {
            labels: frequencies,
            datasets: [
                {
                    data: newGains,
                    label: iem + ' EQ',
                    borderColor: "#684EEB",
                    fill: true,
                    backgroundColor: gradient,
                    borderWidth: 8,
                },
                {
                    data: gains,
                    label: iem + ' Stock',
                    borderColor: "#333333",
                    fill: true,
                    backgroundColor: gradient2,
                    borderWidth: 8,
                },
                {
                    data: Tgains,
                    label: target,
                    borderColor: "#877CC1",
                    fill: false,
                    borderDash: [5, 5],
                    borderWidth: 8,
                }]
        },
        options: {
            maintainAspectRatio: false,
            interaction: {
                mode: 'x',
            },
            elements: {
                point: {
                    radius: 0
                }
            },
            responsive: true,
            title: {
                display: true,
                text: 'Frequency Response Graph'
            },
            animation: {
                onComplete: function () {
                    var img = chart2.toBase64Image()
                    console.log(img);
                    var data = [img, id]
                    fetch('/saveChart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ data: data })
                    })
                    window.setTimeout(function () { window.location.href = "/results/{{ id }}"; }, 10000000);
                },
            },
            scales: {
                x: {
                    type: 'logarithmic',
                    ticks: {
                        color: "#f5f5ff",
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 25,
                            weight: 550,
                        },
                    },
                    grid: {
                        display: true,
                        color: "#312f42",
                    },
                    min: 20,
                    max: 20000,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Frequency (Hz)",
                        font: {
                            family: "Poppins",
                            size: 20,
                            weight: 550,
                        },
                    },
                },
                y: {
                    grid: {
                        display: false,
                    },
                    ticks: {
                        color: "#f5f5ff", //texte ?
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 25,
                            weight: 550,
                        },
                    },
                    min: 50,
                    max: 80,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Gain (dB)",
                        font: {
                            family: "Poppins",
                            size: 20,
                            weight: 550,
                        },
                    },
                },

            },
            plugins: {
                legend: {
                    labels: {
                        color: "#FFFFFF",
                        font: {
                            family: "Poppins",
                            size: 25,
                            weight: 550,
                        }
                    }
                },
                tooltip: {
                    intersect: false
                }
            }
        }
    });

</script>
{% endif %}


{% endblock %}