{% extends 'base.html' %}
{% block head%}{% endblock %}

{% block body%}
<script>
    function gekiyaba() {
        document.getElementsByName('secretIem')[0].style.display = 'block';
        document.getElementsByName('target')[0].style.display = 'none';
        document.getElementsByName('target')[0].setAttribute("name", "a");
        document.getElementsByName('secretIem')[0].setAttribute("name", "target");
        document.getElementsByName('a')[0].setAttribute("name", "secretIem");
    }

    function listener() {
        document.getElementById('listener').style.display = 'block'
    }
</script>
<div id="title" onclick="location.href = '/'">
    <h1>Shewi!</h1>
</div>
{% if result == None %}
<div class="tout">
    <div id="presentation" class="maindivs">
        <h2>- Instant EQ your earphones ! -</h2>
        <p>EQ is the easiest way to improve sound quality of your audio device, but doing it right isn't easy to do. So
            with this website, you will be able to EQ your audio device to a neutral
            target effortlessly :D
        </p>
        <p class="important">Important, this EQ should be used as a baseline, don't hesitate to custom it to
            your
            liking afterwards !</p>
        <div style="padding-top: 10px;"></div>
        <p style="font-family: Segoe UI Bold;font-size: large;"> (*≧︶≦))(￣▽￣* )ゞ</p>
        <div style="padding-top: 10px;"></div>
    </div>
</div>
<div style="padding-top: 20px;"></div>
{% endif %}
{% if result != None %}
<div class="maindivs chart">
    <canvas id="myChart"></canvas>
</div>
{% endif %}
{% if result != None %}
<div style="padding-top: 20px;"></div>
<div id="results" class="maindivs">
    <h3 class="r">- Results -</h3>
    <p class="r">EQ {{ iem }} -> {{ target }}</p>
    <div class="flexThing">
        <div class="paraEQ">
            <table class="r paratable">
                <tr>
                    <th>Filter</th>
                    <th>Frequency</th>
                    <th>Gain</th>
                    <th>Q Value</th>
                </tr>
                {% for keys in paraEQ %}
                <tr>
                    <th>{{ paraEQ[keys][0] }}</th>
                    <th>{{ paraEQ[keys][1] }}</th>
                    <th>{{ paraEQ[keys][2] }}</th>
                    <th>{{ paraEQ[keys][3] }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="buttons">
            <a href="{{url_for('wavelet')}}" download='test' class=" dl">Export to Wavelet/EQapo</a>
            <a href="{{url_for('poweramp')}}" download='test' class="dl">Export to Poweramp</a>
            <a href="{{url_for('parametric')}}" download='test' class="dl" onclick="listener()">Download Parametric
                EQ</a>
            <p id="listener" class="r rcomment" style="display: none;">You probably want to check <a class="link black" href="https://listener800.github.io/5128"
                    target="_blank">Listener's graph database</a> and the <a class="link black"
                    href="https://github.com/Shewiiii/webEQ/tree/main/frequency_responses" target="_blank">FR folder</a>
                if you want to make more adjustments ! (you should)</p>
            <a onclick="iircopy()" class="dl" id="iir" data-iir="{{ iir }}">Copy IIR string</a>
        </div>
    </div>
    <div style="padding-top: 40px;"></div>
</div>
{% endif %}
</div>
<div style="padding-top: 50px;"></div>
<div class="maindivs EQdiv">
    <h3>- Try it ! -</h3>
    <form id="EQform" method="POST" action="{{ url_for('resultsAQ') }}">
        <select name="iem" class="mainSelect">
            <option selected disabled hidden> Choose your device </option>
            {% for iem in FRList %}
            <option> {{ iem }} </option>
            {% endfor %}
        </select>
        <h4>EQ to..</h4>

        <select name="target" class="mainSelect">
            <option selected disabled hidden> Choose a target </option>
            {% for target in targetList %}
            <option> {{ target }} </option>
            {% endfor %}
        </select>

        <select name="secretIem" class="mainSelect" style="display: none;">
            <option selected disabled hidden> Choose another device </option>
            {% for iem in FRList %}
            <option> {{ iem }} </option>
            {% endfor %}
        </select>

        <div style="padding-top: 30px;"></div>
        <h4>- Settings -</h4>
        <div class="flexThing EQoptions">
            <div class="EQoption">
                <p>Max number of filters:</p>
                <select name="filterCount" class="optionSelect">
                    <option value="5"> 5 </option>
                    <option selected="selected" value="10"> 10 </option>
                    <option value="15"> 15 </option>
                    <option value="20"> 20 </option>
                </select>
                <p class="idkSelect">Default: 10</p>
            </div>

            <div class="EQoption">
                <p>AutoEQ algorithm</p>
                <select name="algorithm" class="optionSelect">
                    <option selected="selected" value="default"> Default </option>
                    <option value="lochbaum"> Lochbaum </option>
                </select>
                <p class="idkSelect">Default: Default</p>
            </div>

            <div class="EQoption">
                <p>EQ the resonant peaks:</p>
                <select name="EQres" class="optionSelect">
                    <option value="yes"> Yes </option>
                    <option selected="selected" value="no"> No </option>
                </select>
                <p class="idkSelect">Recommended: No</p>
            </div>

            <div class="EQoption">
                <p>Mode:</p>
                <select name="mode" class="optionSelect">
                    <option selected="selected" value="standard"> Standard </option>
                    <option value="moondrop"> Moondrop Free DSP </option>
                </select>
                <p class="idkSelect">Default: Standard</p>
            </div>
        </div>
        <p id="eqWarningAQ" class="warning" style="display: none;">Note: Will less EQ above 10kHz to avoid inaccuracies
            (that's a feature). </p>
        <p id="eqWarningLO" class="warning">Note: Will EQ the resonant peaks if there are. Make sure to adjust the
            treble by ear ! </p>
        <button id="goButton" type="submit" class="generateButton">Go !</button>
    </form>
    <div id="gekiYabaSecretFeature">
        <p style="text-align: left;" onclick="gekiyaba()">|∀・)</p>
    </div>
    <div class='maindivs hint' style="text-align: left;">
        <h4 style="margin: 0;">Hint:</h4>
        <h5>- Headphones -</h5>
        <p><strong>SoundGuys Target</strong>: Nice balance between neutral and fun (recommended)</p>
        <p><strong>5128 DF</strong>: Neutral for Headphones</p>
        <h5>- IEMs or TWS -</h5>
        <p><strong>SoundGuys Target</strong>: Nice balance between neutral and fun (recommended)</p>
        <p><strong>Shewi Target</strong>: Basically a U6T without that treble zing. U-Shaped Target focused on
            macro-dynamics and immersiveness. My go-to
            sound profile
        </p>
        <p><strong>JM-1</strong>: Neutral for IEMs</p>
        <p><strong>Harman Beta (2024)</strong>: If you want a sound similar to AutoEQ but more precise</p>
        <h5>- Settings -</h5>
        <p><strong>Tilt</strong>: The more the tilt is important, the more it will sound 'dark'. If you prefer a
            brighter sound, choose
            -0.8dB/oct.</p>
        <p><strong>Number of filters</strong>: as the name suggests.</p>
        <p><strong>3kHz dip</strong>: Reduce the volume of the ear-gain if it sounds too shouty.</p>
        <p><strong>EQ the resonant peaks</strong>: Sometimes on the graph you can see a dip around 9kHz and a peak at
            around 7kHz. That is due to
            the IEM or TWS interacting more at a certain frequency with the measurement rig. Thus, EQing this region can
            lead to an inaccurate equalization (if that dip is caused by resonance). Disabling this option can help
            preventing that.</p>
        <p><strong>Algorithm</strong>: algorithm to use to generate the EQ.</p>
        <ul>
            <li>Lochbaum: Aggressive EQ. Match the target better on the full frequency range. Could potentially heavely
                EQ peaks or dips you don't actually hear, so use it with care.</li>
            <li>Default (from AutoEQ's library): Safer EQ. Fast and more customizability, and don't EQ too much above
                10kHz. Will
                not EQ the resonant peaks by default.</li>
            <p><strong>Tip !</strong>: try to EQ with different algorithm and number of filters if the EQ you get
                doesn't satisfy you.</p>
        </ul>
        <p><strong>Mode</strong>: Adapt the generated EQ to a particular device. Can overwrite other options.</p>
    </div>
    <div style="padding-top: 50px;"></div>
    <div>
        <img class='targetsimg' src="../static/img/Targets.png">
    </div>

    <div style="padding-top: 50px;"></div>

    <h3>- Random infos -</h3>
    <div style="text-align: left;">
        <h4>Sources :</h4>
        <p><a class="link" href="https://listener800.github.io/5128" target="_blank">Listener</a>,
            <a class="link" href="https://forum.headphones.com/u/resolve/summary" target="_blank">Resolve</a> (on the
            Headphones.com forum or Youtube),
            <a class="link" href="https://crinacle.com/graphs/iems/graphtool/" target="_blank">Crinacle</a>,
            <a class="link" href="https://www.soundguys.com/" target="_blank">Soundguys</a>.
            I've also used <a class="link"
                href="https://www.reddit.com/r/headphones/comments/1780005/bk_5128_graph_database/" target="_blank">this
                amazing reddit post</a> to help me scrap the frequency responses.
        </p>
        <h4>How these EQ profiles are generated</h4>
        <p>All the EQ profiles on this website are generated using the AutoEQ Python library by Jaakko Pasanen, and the
            AutoEQ feature available
            on many graph tools like <a class="link" href="https://squig.link/" target="_blank">Squiglink</a>, <a
                class="link" href="https://listener800.github.io/5128" target="_blank">Listener's graph database</a> or
            <a class="link" href="https://crinacle.com/graphs/iems/graphtool/" target="_blank">Crinacle's IEF graph
                tool</a> by Marshall Lochbaum.
        </p>
        <p> They are all based on <strong>measurements took on the B&K 5128</strong> or the 4620 (without the head and
            torso), the most
            accurate measurement rig available today.
        </p>
        <h4>Yes <a class="link" href="https://autoeq.app/" target="_blank">AutoEQ</a> exists, and it's great</h4>
        <p>This project exists thanks to AutoEQ since I'm using it's Python module ! The website has MUCH more features
            and models than my website so it's worth checking.
        <p>
            But please note that <strong>if your device is not available with B&K 5128 or 4620 measurements, the EQ will
                probably
                be inaccurate, especially for in-ear devices</strong>, because of the inaccurate acoustic input
            impedence
            other
            measurement rigs have.
        </p>
        <h4>PLEASE don't pay for SoundID/Sonarworks for headphones, it's just eye candy.</h4>
        <p>I have some problems with that software when it comes to headphones. First,
            it's paid. Second, you don't know
            anything about their methodology of EQing. You don't know the rig they are using, you don't (explicitly)
            know the target they are using,
            NOTHING. What they are calling flat sound is based on what? on private research, and I refuse to pay for
            something you know anything about and that you can get for free.
        <p>I really think what I'm saying, it's not just to tell you "oh wow my website is amazing". EQing
            using B&K
            measurements combined with a target you choose and you
            <strong>know something about</strong> is in my opinion the obvious choice and will lead to much, much better
            results than SoundID. And guess what? <strong>All the frequency responses measured and the EQ profiles
                created by autoEQ and
                suggested here dont't cost you a cent</strong>. You just have to use them with whatever software present
            on
            the Results tab (Wavelet and Equalizer APO are free softwares).
        </p>
        <p>
            You want to tweak you target more? No probs ! Download a frequency response file in <a class="link"
                href="https://github.com/Shewiiii/webEQ/tree/main/frequency_responses" target="_blank">my repo</a>,
            import it in <a class="link"
                href="https://listener800.github.io/5128?share=Custom_Tilt&bass=0&tilt=-1&treble=0&ear=0"
                target="_blank">Listener's graph tool</a> and autoEQ from here !
        </p>
        <p>
            If you REALLY want something similar to
            Sonarworks, just use the Harman OE 2015 target on autoEQ with Equalizer APO or Wavelet.</p>
        <h4>Why I'm doing this</h4>
        <p>Because I'm using it personally and because it's fun to do @w@</p>
        <p>My motivation was to make my own "AutoEQ" website, but more accurate (since every EQ generated are based on
            5128 measurements) and with a look that suits me better !</p>
        <h4>Specs of the EQ</h4>
        <p>I'm trying to EQ up to 20khz, since the 5128 is accurate enough to allow EQing the full audible
            range.<br><strong>However</strong>, you should note that all our ears are different, thus the frequency
            response
            you will actually hear will be significantly different from the one measured on the 5128. That's why you
            HAVE to
            EQ by ear as well if you think something is wrong.</strong></p>
        <p>
            On headphones especially, frequency response changes a lot depending on position. This is something you
            should take into consideration when EQing but also in general when you look at a frequency response graph.
        </p>
    </div>
</div>
<div style="padding-top: 250px;"></div>
<p style="text-align: center;color: var(--secondary3);font-family: Segoe UI Bold;font-weight: bold;">
    かえるぴょこぴょこみぴょこぴょこ
    (/・ω・)/</p>
<script>
    var algoSelect = document.getElementsByName('algorithm')[0]
    let algorithm = algoSelect.value

    let modeSelect = document.getElementsByName('mode')[0]
    let eqresSelect = document.getElementsByName('EQres')[0]
    let goButton = document.getElementById('goButton')
    let EQform = document.getElementById('EQform')
    let eqWarningAQ = document.getElementById('eqWarningAQ')
    let eqWarningLO = document.getElementById('eqWarningLO')

    function changeToLoch() {
        modeSelect.disabled = true;
        eqresSelect.disabled = true;
        modeSelect.value = 'standard';
        eqresSelect.value = 'yes';
        goButton.type = ''
        EQform.action = '/lochbaum'
        eqWarningAQ.style.display = 'none'
        eqWarningLO.style.display = 'block'
    }

    if (algorithm == 'lochbaum') {
        changeToLoch()
    } else if (algorithm == 'default') {
        eqWarningAQ.style.display = 'block'
        eqWarningLO.style.display = 'none'
    }


    function algoChange() {
        var selected = this.value
        console.log(selected);
        if (selected == 'lochbaum') {
            changeToLoch()
        }
        else if (selected == 'default') {
            eqresSelect.disabled = false;
            eqresSelect.value = "no"
            modeSelect.disabled = false;
            goButton.type = 'submit';
            eqWarningAQ.style.display = 'block';
            eqWarningLO.style.display = 'none';
            EQform.action = '/resultsAQ';
        }
    }

    document.getElementsByName('algorithm')[0].onchange = algoChange;
</script>
{% if result != None %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function iircopy() {
        var copyText = document.getElementById('iir').dataset.iir
        navigator.clipboard.writeText(copyText);
    }


    const myChart = document.getElementById('myChart').getContext("2d");

    var iem = {{ iem | tojson }};
    var target = {{ target | tojson }};

    var gains = {{ gains | tojson }};
    var frequencies = {{ frequencies | tojson }};
    var Tgains = {{ Tgains | tojson }};
    var newgains = {{ newgains | tojson }};

    var gradient = myChart.createLinearGradient(0, 0, 0, 600);
    gradient.addColorStop(0, 'rgba(81, 58, 197, 1)');
    gradient.addColorStop(1, 'rgba(0, 0, 0,0)');

    var gradient2 = myChart.createLinearGradient(0, 0, 0, 600);
    gradient2.addColorStop(0, 'rgba(51, 51, 51, 1)');
    gradient2.addColorStop(1, 'rgba(0, 0, 0,0)');

    new Chart(myChart, {
        type: 'line',
        data: {
            labels: frequencies,
            datasets: [
                {
                    data: newgains,
                    label: iem + ' EQ',
                    borderColor: "#684EEB",
                    fill: true,
                    backgroundColor: gradient,
                },
                {
                    data: gains,
                    label: iem + ' Stock',
                    borderColor: "#333333",
                    fill: true,
                    backgroundColor: gradient2,
                },
                {
                    data: Tgains,
                    label: target,
                    borderColor: "#877CC1",
                    fill: false,
                    borderDash: [5, 5],
                }]
        },
        options: {
            maintainAspectRatio: false,
            interaction: {
                mode: 'x',
            },
            elements: {
                point: {
                    radius: 0
                }
            },
            responsive: true,
            title: {
                display: true,
                text: 'Frequency Response Graph'
            },
            scales: {
                x: {
                    type: 'logarithmic',
                    ticks: {
                        color: "#f5f5ff",
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 13,
                        },
                    },
                    grid: {
                        display: true,
                        color: "#312f42",
                    },
                    min: 20,
                    max: 20000,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Frequency (Hz)",
                        font: {
                            family: "Poppins",
                            size: 10,
                        },
                    },
                },
                y: {
                    grid: {
                        display: false,
                    },
                    ticks: {
                        color: "#f5f5ff", //texte ?
                        beginAtZero: true,
                        font: {
                            family: "Poppins",
                            size: 13,
                        },
                    },
                    min: 50,
                    max: 80,
                    title: {
                        display: true,
                        color: "#f5f5ff", //texte ?
                        text: "Gain (dB)",
                        font: {
                            family: "Poppins",
                            size: 10,
                        },
                    },
                },

            },
            plugins: {
                legend: {
                    labels: {
                        color: "#FFFFFF",
                        font: {
                            family: "Poppins",
                            size: 15,
                        }
                    }
                },
                tooltip: {
                    intersect: false
                }
            }
        }
    });
</script>
{% endif %}


{% endblock %}